@import "tailwindcss";
@plugin "daisyui" {
    themes: valentine
}

html, body {
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#root{
    height: 100dvh;
    overflow: hidden;
}